@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --primary-color: #4682B4 ;
  --secondary-color: #708090;
  --background-color: #F8FAFC; 
  --text-primary: #2D3748;
  --text-secondary: #718096;
  --accent-color: #4299E1;
  --success-color: #48BB78;
  --neutral-color: #EDF2F7;

  --primary-font: 'Poppins', sans-serif;
  --code-font: 'SF Mono', Monaco, 'Cascadia Code', 'Roboto Mono', Consolas, 'Courier New', monospace;

  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
}